<style>
    body {
        /* padding: 0;
        margin: 0;
        height: 100vh;
        display: flex;
        justify-content: flex-end; 
        align-items: center; */
        background-color: #e0e1e6;
        background-image: url(https://w0.peakpx.com/wallpaper/642/892/HD-wallpaper-security-concept-digital-art-creative-3d-lock-computer-security-scanning-security.jpg);
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
        
    }

    #text-container {
        color: #ffffff;
        font-family: 'Arial', sans-serif;
        font-size: 24px;
        position: absolute;
        left: 20px; /* Adjust the left position as needed */
        top: 50%;
        transform: translateY(-50%);
    }


</style>

<div id="text-container" style="margin-top: 15%;">
    <h1 style="animation: fadeInUp 1s ease-out;text-shadow: 3px 3px 3px rgba(85, 6, 63, 0.8);color: #ffffff;font-size: 50px;"> Security Analytics </h1>
    <p style="font-size: 30px;text-shadow: 3px 3px 3px rgba(50, 47, 47, 0.8);color: rgb(227, 174, 174);animation: fadeInUp 1.5s ease-out;margin-top: 1px;">This platform allow users to have conversations,<br> share information and create content securily.</p>
</div>